<header >
    <div class="header-content">
        <a href=""><h1>Tempname</h1></a>
        <div class="navbar">
            <a [routerLink]="['/']" > Casino</a>
            <a [routerLink]="['/deposit']" >Deposit</a>
            <a [routerLink]="['/leaderboard']">Leaderboard</a>
            <a [routerLink]="['/statistics']">Mystat</a>
            <a [routerLink]="['/user-profile']">Profile</a>
            <a [routerLink]="['/aboutus']">About Us</a>
          
        </div>
    </div>
    <div class="header-content">
        <a [routerLink]="['/login']"><button class="login">Log In</button></a>
        <a [routerLink]="['/registration']"><button class="register">Register</button></a>
    </div>
</header>