<header >
    <div class="header-content">
        <h1>Tempname</h1>
        <div class="navbar">
            <a [routerLink]="['/']" > Casino</a>
            <a [routerLink]="['/deposit']" >Deposit</a>
            <a [routerLink]="['/leaderboard']">Leaderboard</a>
            <a [routerLink]="['/statistics']">Mystat</a>
            <a [routerLink]="['/user-profile']">Profile</a>
            <a [routerLink]="['/aboutus']">About Us</a>
          
        </div>
    </div>
    <div class="header-content">
        <button class="login">Log In</button>
        <button class="register">Register</button>
    </div>
</header>