<div class="top-header">
    <div class="top-header-left">
        <div class="inline-container">
            <div class="normal-title">Be </div>
            <div class="normal-title">in </div>
            <div class="normal-title">the</div>
        </div>
        <div class="normal-title block-title">game</div>
    </div>
    <div class="top-header-right">
        <img class="top-header-picture" src="assets/img/logos/header-top-pic-temp.png" alt="">
        <img class="top-logo-temp" src="assets/img/logos/top-logo-temp.png" alt="">
    </div>
</div>
