section{
    margin: 5% auto;
    width: 80%;
    height: auto;
    background-color: #262832;
    box-shadow: 15px 15px 50px rgba(202, 28, 101, 0.15);
    .panel{
        background-color: #040613;
        height: 70px;
        margin: 0;
        justify-content: center;
        display: flex;
        align-items: center;
       
    }
    .content{
        display: flex;
        justify-content: space-between;
        padding: 3% 5%;
        .details{
            flex-basis: 40%;
            input{
                width: 80%;
                height: 60px;
                margin-bottom: 3%;
                background: none;
                font-size: 20px;
                color: #fff;
                padding: 0 10%;
                outline: none;
                border: 1px solid white;
            }
            .field{
                position: relative;
                img{
                    position: absolute;
                    left: 3%;
                    top: 25%
                }
            }
        }
    }
    p{
        margin: 0 ;
        font-weight: bold;
        font-size: 30px;
    }
    .commercial{
        background-color: #CA1C65;
        flex-basis: 40%;
    }
}

.editable {
    color: #888;
    font-size: 20px;
}