<section>
    <div class="panel">
        <p>Step 2 of 3</p>
    </div>
    <div class="content">
        <div class="details">
            <p>Validate your account</p><br/>
            <p class="textinfo" style="text-align: center;">An SMS has been sent to 38000000000, please enter the 4-digit code provided</p>
            <div class="container">
                <input type="text" maxlength="1" class="code-input" placeholder="-" />
                <input type="text" maxlength="1" class="code-input" placeholder="-"/>
                <input type="text" maxlength="1" class="code-input" placeholder="-"/>
                <input type="text" maxlength="1" class="code-input" placeholder="-"/>
            </div>
            <div class="field">
                <span *ngIf="!isEditing" (click)="edit()">{{ value }}</span>
                <input *ngIf="isEditing" [(ngModel)]="editValue" (blur)="save()" autofocus style="height: 30px; padding-left: 5px;" />
                <button (click)="toggleEdit()" class="editphone">{{ isEditing ? 'Save' : 'Edit' }}</button>
              </div>
            <div class="next">
                <button class="nextbtn"><a [routerLink]="['/registration3']">Resend Validation Code</a></button>
                <p>Already have an account?<a href="#">Log in</a></p>
            </div>
        </div>
        <div class="commercial">

        </div>
    </div>  
</section>  
