.navbar{
    display: flex;
    width: 100%;
    background-color: #2C2E3A;
    height: 40px;
    input{
        background-color: #262832;
        color: #fff;
        outline: none;
        width: 17%;
        border: #111216;
    }
}
.game{
    width: auto;
    display: flex;
    align-items: center;
    p{
        margin-left: 7px;
    }
   
}
.games{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    padding: 0;
    a{
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 8px 24px;
        transition: 0.3s ease;
        color: #fff;
        &:hover{
            background-color: #121318;
            cursor: pointer;
        }
    }
}

@media (max-width: 768px) {
    .navbar{
        overflow-x: auto;
        overflow-y:hidden;
        input{
            width: 17%;
        }
    }
    .game{
        font-size: 14px;
    }
}