@import '../registration.scss';


input[type="checkbox"] {
    display: none;
}

label p{
    margin-top: 10px;
    position: relative;
    padding-left: 25px;
    font-size: 16px;
    font-weight: 500;
    width: 70%;
    cursor: pointer;
}

label p:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #CA1C65;
    border-radius: 4px;
    background-color: none;
}

input[type="checkbox"]:checked + label p:before {
    background-color: #CA1C65; 
}

input[type="checkbox"]:checked + label p:after {
    content: "✔";
    position: absolute;
    left: 3px;
    top: -2px;
    color: black;
}


.next{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        .nextbtn {
            width: 60%;
            height: 60px;
            margin-bottom: 3%;
            margin-left:30%;
            background-color: #05C489;
            border: none;
            border-radius: 60px; 
            margin: 5% auto 1%;
            cursor: pointer;
            transition: 0.3s ease;
            &:hover{
                background-color: #059b6b;
            }
                color: black;
                font-weight: bold;
                font-size: 20px;
        }
        .nextbtn:disabled {
            background-color: #999; 
            cursor: not-allowed; 
            color: #666; 
        }
    p{
        font-size: 16px;
        font-weight: 500;
    }
    a{
        color: #CA1C65;
        text-decoration: none;
        &:hover{
            color: var(--reference-hover-color);
        }
    }
}

.editphone{
    background: none;
    border: none;
    font-size: 20px;
    position: absolute;
    right: 5%;
    color: #CA1C65;
    top: 20%;
    &:hover{
        cursor: pointer;
        color: var(--reference-hover-color);
    }
}



.form .error_message{
    font-size: 11px; 
    color: #CA1C65; 
    margin-top: 5px;
}

.field .error_message {
    font-size: 12px; 
    color: #CA1C65; 
    margin-top: 5px; 
    margin-bottom: 5px; 
}
@media (max-width:768px){
    .editphone{
        font-size: var(--fs16);
    }
    .h1{
        font-size: var(--fs20) !important;
    }
    label p{
        font-size: var(--fs14);
    }
}