<section>
    <div class="panel">
        <p>Step 1 of 3</p>
    </div>
    <div class="content">
        <div class="details">
            <p>Please fill in your details below</p><br/>
            <div class="field">
                <img src="assets/img/icons/Vector.svg" alt="" style="top: 25%">
                <input type="text" placeholder="E-mail">
            </div>
            <div class="field">
                <img src="assets/img/icons/Vector(1).svg" alt="" style="top: 11%">
                <input type="password" placeholder="Password">
            </div>
            <div class="field">
                <img src="assets/img/icons/Vector(2).svg" alt="" style="top: 22%">
                <select>
                    <option value="ua">Ukraine</option>
                    <option value="md">Moldova</option>
                    <option value="gr">Germany</option>
                </select>   
            </div>
        </div>
        <div class="qr">

        </div>
    </div>
</section>
