<div class="center">
    <div class="parent">
        <div class="avatar-block"> 
            <div class="avatar-container">
                <div class="avatar"></div>
                <button class="add-button">Add</button>
                <div class="balance">
                    <span class="balance-amount"><b>€</b>{{ user?.balance }}</span>
                </div>
            </div>
        </div>
        <div class="details-block">  <app-user-details-form></app-user-details-form>    </div>
        <div class="unknown-block"> </div>
    </div>
</div>