<div class="statistics">
    <h2 class="center-title">Statistics for today</h2>
    <div class="statistic-item">
        <p>You deposited <span class="amount">[amount]</span> today!</p>
        <p>You spent <span class="amount">{{totalSpentToday}}</span> today!</p>
        <p>You won <span class="amount">{{totalWonToday}}</span> today!</p>
        <p>Your current session on the <span class="site-name">LUCKY STAR</span> is <span class="time">{{currentSessionTime }}</span>!</p>
        <p>You are <span class="leaderboard-position"># [number in leaderboard]</span> in terms of spent money today!</p>
    </div>
</div>
