<div class="favgame-panel">

    <h1 class="favgame-text">Favourite Game</h1>
        
    <div class="favgame-information">
        <img class="favgame-image" src="https://cdna.artstation.com/p/assets/images/images/055/122/640/large/brandon-digital-europena-roulette-banner.jpg?1666176096"> 
        <h2 class="gamename-text">European Roulette</h2>
        <h3 class="spent-text"><span>Spent:</span> {{totalSpent}} </h3>
        <h3 class="won-text"><span>Won:</span> {{totalWon}}</h3> 
    </div>
</div>

