<div class="statistics">
    <h2 class="center-title">Statistics for the month</h2>
    <div class="statistic-item">
        <p>You've spent a solid <span class="time">5 hours</span> on <span class="site-name">TEMPNAME</span> this month!</p>
        <p>You deposited <span class="amount">[amount]</span> this month!</p>
        <p>You spent <span class="amount">[amount]</span> this month!</p>
        <p>You won <span class="amount">[amount]</span> this month!</p>
        <p>Your longest session on the <span class="site-name">TEMPNAME</span> was <span class="time">[time]</span>!</p>
        <p>Your shortest session on the <span class="site-name">TEMPNAME</span> was <span class="time">[time]</span>!</p>
        <p>You are <span class="leaderboard-position"># [number in leaderboard]</span> in terms of spent money!</p>
    </div>
</div>
