.center-title{
    text-align: center;
    font-weight: 600;
}

.statistics h2 {
    font-size: 26px;
    color: #05C489;
}

.statistic-item {
    margin-left: 80px;
    margin-top: 20px;
    font-size: 19px;
}

.statistic-item p {
    margin-bottom: 20px;
}

.statistic-item .site-name {
    font-weight: bold;
    color: #CA1C65;
}


.statistic-item .leaderboard-position {
    font-weight: bold;
    color: gold; 
}

.time{
    color: #5a96e4;
}

.amount{
    color: #05C489;
}

@media (max-width: 768px) {

    .statistic-item {
        margin-right: 80px;
    }

    .statistics{
        padding: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

}