<form>
    <div class="form-row">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <div class="input-with-arrow">
          <img src="assets/img/icons/Icon_FirstName.svg" alt="" class="icon" style="top: 12%; left: 3%;">
          <input type="text" id="firstName" name="firstName" class="form-control" placeholder={{user?.first_Name}} readonly>
        </div>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <div class="input-with-arrow">
          <img src="assets/img/icons/Icon_LastName.svg" alt="" class="icon" style="top: 12%; left: 3%;">
          <input type="text" id="lastName" name="lastName" class="form-control" placeholder={{user?.last_Name}} readonly>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="email">Email</label>
        <a [routerLink]="['/email-edit']" class="input-with-arrow">
        <div class="input-with-arrow">
          <img src="assets/img/icons/Vector.svg" alt="" class="icon" style="top: 12%; left: 3%;">
          <input type="email" id="email" name="email" class="form-control" placeholder={{user?.email}} readonly>
          <span class="arrow">&#10148;</span>
        </div>
        </a>
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <a [routerLink]="['/phone-edit']" class="input-with-arrow">
        <div class="input-with-arrow">
          <img src="assets/img/icons/Icon_Phone.svg" alt="" class="icon" style="top: 12%; left: 3%;">
          <input type="tel" id="phone" name="phone" placeholder={{user?.phone}} class="form-control" readonly>
          <span class="arrow">&#10148;</span>
        </div>
        </a>
      </div>
    </div>
    <div class="form-row">
        <div class="form-group">
          <label for="language">Password</label>
          <a [routerLink]="['/password-edit']">
            <div class="input-with-arrow">
                <img src="assets/img/icons/Vector(2).svg" alt="" class="icon" style="top: 12%; left: 3%;">
                <input type="password" id="password" name="password" class="form-control" placeholder="******" readonly>
                <span class="arrow">&#10148;</span>
            </div>   
          </a>
        </div>
        <div class="form-group">
          <label for="Location">Location</label>
          <div class="input-with-arrow">
            <img src="assets/img/icons/Icon_Location.svg" alt="" class="icon" style="top: 12%; left: 3%;">
            <input type="loc" id="location" name="location" class="form-control"  placeholder="Ukraine" readonly>
           
          </div>
        </div>
      </div>
</form>
