<form>
    <div class="form-row">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <div class="input-with-arrow">
          <img src="assets/img/icons/Icon_FirstName.svg" alt="" class="icon" style="top: 12%; left: 3%;">
          <input type="text" id="firstName" name="firstName" class="form-control" placeholder="Serhii" readonly>
        </div>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <div class="input-with-arrow">
          <img src="assets/img/icons/Icon_LastName.svg" alt="" class="icon" style="top: 12%; left: 3%;">
          <input type="text" id="lastName" name="lastName" class="form-control" placeholder="Popovycvh" readonly>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="email">Email</label>
        <div class="input-with-arrow">
          <img src="assets/img/icons/Vector.svg" alt="" class="icon" style="top: 12%; left: 3%;">
          <input type="email" id="email" name="email" class="form-control" placeholder="email199128@gmail.com" readonly>
          <span class="arrow">&#10148;</span>
        </div>
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <div class="input-with-arrow">
          <img src="assets/img/icons/Icon_Phone.svg" alt="" class="icon" style="top: 12%; left: 3%;">
          <input type="tel" id="phone" name="phone" placeholder="38000000000" class="form-control" readonly>
          <span class="arrow">&#10148;</span>
        </div>
      </div>
    </div>
    <div class="form-row">
        <div class="form-group">
          <label for="language">Language</label>
          <div class="input-with-arrow">
            <img src="assets/img/icons/Vector(2).svg" alt="" class="icon" style="top: 12%; left: 3%;">
            <input type="language" id="language" name="language" class="form-control" placeholder="English" readonly>
            <span class="arrow">&#10148;</span>
          </div>
        </div>
        <div class="form-group">
          <label for="Location">Location</label>
          <div class="input-with-arrow">
            <img src="assets/img/icons/Icon_Location.svg" alt="" class="icon" style="top: 12%; left: 3%;">
            <input type="loc" id="location" name="location" class="form-control"  placeholder="Ukraine, Odesa" readonly>
            <span class="arrow">&#10148;</span>
          </div>
        </div>
      </div>
</form>
