<div class="flex-container">
    <div class="flex-items">
      <p class="title">Biggest Daily Profit</p>
      <div class="avatar" [style.background-image]="'url(' + topDailyProfitUser.avatar + ')'"></div>
      <p class="name">{{ topDailyProfitUser.name }}</p>
    </div>
    <div class="flex-items">
      <p class="title">Biggest Weekly Profit</p>
      <div class="avatar" [style.background-image]="'url(' + topWeeklyProfitUser.avatar + ')'"></div>
      <p class="name">{{ topWeeklyProfitUser.name }}</p>
    </div>
    <div class="flex-items">
      <p class="title">Biggest Monthly Profit</p>
      <div class="avatar" [style.background-image]="'url(' + topMonthlyProfitUser.avatar + ')'"></div>
      <p class="name">{{ topMonthlyProfitUser.name }}</p>
</div>