<div class="flex-container">
    <div class="flex-items">
        <p class="title">Biggest Daily Profit</p>
        <div class="avatar"></div>
        <p class="name">Name</p>
        



    </div>
    <div class="flex-items">
        <p class="title">Biggest Weekly Profit</p>
        <div class="avatar"></div>
        <p class="name">Name</p>
        
    
    </div>
    <div class="flex-items">
        <p class="title">Biggest Monthly Profit</p>
        <div class="avatar"></div>
        <p class="name">Name</p>
        
    
    </div>
 </div>