<section class="panel">
    <div class="welcome">
        <p>Edit your password!</p>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">

        <div class="field">
            <img src="assets/img/icons/Vector(1).svg" alt="" style="top: 12%">
            <input type="password" placeholder="Enter Your Old Password" formControlName="password">
            <p *ngIf="form.get('password')?.invalid && form.get('password')?.touched">Old Password is required</p>
        </div>

        <div class="field">
            <img src="assets/img/icons/Vector(1).svg" alt="" style="top: 12%">
            <input type="password" placeholder="Enter Your New Password" formControlName="password2">
            <p *ngIf="form.get('password2')?.invalid && form.get('password2')?.touched">New Password is required</p>
        </div>

        <button type="submit" [disabled]="form.invalid">Done</button>
    </form>
</section>
