@import '../registration.scss';

p.small-text {
    font-size: 20px !important;
}

.next {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .nextbtn {
        width: 60%;
        height: 60px;
        margin-bottom: 3%;
        margin-left: 30%;
        color: black;
        font-weight: bold;
        font-size: 20px;
        background-color: #05C489;
        border: none;
        border-radius: 60px;
        margin: 5% auto 1%;
        cursor: pointer;
        transition: 0.3s ease;

        &:hover {
            background-color: #059b6b;
        }
    }

    .nextbtn:disabled {
        background-color: #999;
        cursor: not-allowed;
        color: #666;
    }

    p {
        font-size: 16px;
        font-weight: 500;
    }

    a {
        color: #CA1C65;
        text-decoration: none;

        &:hover {
            color: #660f33;
        }
    }
}

.code-input {
    width: 62px;
    height: 62px;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 7px;
    padding: 0 !important;
    margin: 0 0.5rem;
}

.container {
    position: relative;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;

    & p:nth-child(1) {
        position: absolute;
        content: 'Day';
        left: 13%;
        font-size: 20px;
        top: -30%;
    }

    & p:nth-child(2) {
        position: absolute;
        content: 'Day';
        left: 43%;
        font-size: 20px;
        top: -30%;
    }

    & p:nth-child(3) {
        position: absolute;
        content: 'Day';
        left: 79%;
        font-size: 20px;
        top: -30%;
    }
}

.error_message {
    font-size: 12px !important;
    color: #CA1C65;
    margin-top: 5px;
    margin-bottom: 5px;
}
