section.panel {
    margin: 5% auto;
    width: 30%;
    height: auto;
    background-color: #262832;
    box-shadow: 15px 15px 50px rgba(202, 28, 101, 0.15);
}

.welcome {
    background-color: #040613;
    height: 70px;
    margin: 0;
    justify-content: center;
    display: flex;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.form .field {
    position: relative;
}

.form .field img {
    position: absolute;
    left: 3%;
    top: 25%;
}

.form input {
    width: 60%;
    height: 60px;
    margin-bottom: 3%;
    background: none;
    font-size: 20px;
    color: #fff;
    padding: 0 10%;
    outline: none;
    border: 1px solid white;
}

.form input, img, button{
    margin-left: 10%;
}

.form button {
    width: 40%;
    height: 60px;
    margin-bottom: 3%;
    margin-left:30%;
    background-color: #05C489;
    color: black;
    border-radius: 10px; 
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

p {
    margin: 0;
    font-weight: bold;
    font-size: 26px;
    color: white;
}

.createaccount{
    font-weight: 200;
    font-size: 16px;
    margin-bottom: 10%;
}

.createaccount b{
    color:#CA1C65;
}