<section class="panel">
    <div class="welcome">
        <p>Welcome back!</p>
    </div>

    <div class="form">
        <div class="field">
            <img src="assets/img/icons/Vector.svg" alt="" style="top: 25%">
            <input type="text" placeholder="E-mail">
        </div>

        <div class="field">
            <img src="assets/img/icons/Vector(1).svg" alt="" style="top: 11%">
            <input type="password" placeholder="Password">
        </div>

        <button>Log in</button>

        <p class="createaccount" style="text-align: center;">Don’t have an account? <b>Create Account</b></p>
    </div>
</section>