
body{
    background-color: #191A23;
    color: #FFFFFF;
    font-family: sans-serif;
    margin: 0;
}

.custom-list .ipv_selected-item,
.custom-list .ipv_country-list
{
  background: #262832;
  color: #fff ;
  border: 1px solid  #fff;
  margin-bottom: 10px;
}

.custom-list .ipv_dropdown:hover .ipv_selected-item {
  border: 1px solid  #fff;
  background: #262832;
}

.custom-list .searchBox input{
  border: 1px solid  #fff;
  background: #262832;
  outline:none;
  border: none;
}

.custom-list .ipv_code-box{
  border: 1px solid  #fff;
  border: none;
}