<section>
    <div class="panel">
        <p>Step 2 of 3</p>
    </div>
    <div class="content">
        <form class="details" [formGroup]="form" (ngSubmit)="onSubmit()">
            <p>Please fill in your details below</p><br/>
            <p class="textinfo">We will send a validation code to your phone via text message (SMS)</p>
            <div class="field">
                <img src="assets/img/icons/Vector(2).svg" alt="" style="top: 22%">
                <input type="text" placeholder="Mobile number" formControlName="phoneNumber">
                <p class="error_message" *ngIf="form.get('phoneNumber')?.invalid && form.get('phoneNumber')?.touched">Number is required</p>
                
            </div>
            <button class="nextbtn" (click)="next()" [disabled]="!form.valid">Request a validation code</button>
            <p class="textinfo">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        </form>
        <div class="commercial">

        </div>
    </div>
</section>
