
@import '../registration.scss';


.nextbtn {
    width: 60%;
    height: 60px;
    margin-bottom: 3%;
    margin-left:30%;
    font-size: 24px;
    font-weight: 500;
    background-color: #05C489;
    border: none;
    border-radius: 60px; 
    margin: 5% 15%;
    cursor: pointer;
    transition: 0.3s ease;
    &:hover{
        background-color: #059b6b;
    }
    color: black;
    font-weight: bold;
    font-size: 20px;
}


