
@import '../registration.scss';


.nextbtn {
    width: 60%;
    height: 60px;
    margin-bottom: 3%;
    margin-left:30%;
    font-size: 24px;
    font-weight: 500;
    background-color: #05C489;
    border: none;
    border-radius: 60px; 
    margin: 5% 15%;
    cursor: pointer;
    transition: 0.3s ease;
    &:hover{
        background-color: #059b6b;
    }
    color: black;
    font-weight: bold;
    font-size: 20px;

    
}

.nextbtn:disabled {
    background-color: #999 !important; 
    cursor: not-allowed; 
    color: #666; 
}
@media (max-width: 768px) {
    .nextbtn{
        font-size: var(--fs14);
    }
    p{
        font-size: var(--fs16) !important;
    }
    input{
        margin-top: 5% !important;
    }
    img{
        top: 50% !important;
    }
    section{
        .content{
            .details{
               
                .field{
                    img{
                        top: 45% !important;
                    }
                }
            }
        }
    }
}


