<div class="container">

    <div class="our-story-text">
        <span>Our History</span>
    </div>
    
    <div class="our-history">
        <img class="dice-picture" src="assets/img/logos/cup1.png" alt="">
        <div class="text">
            TEMPNAME gives you the opportunity to get lost in the middle of the game. We are creating a gambling service that will fill your day with sights. For complete emotional exhaustion at the skin rate. TEMPNAME is a team in which every job will be very bright, and your evidence will be unique.
            <div class="text-bold">Be inside the game with TEMPNAME!</div>
        </div>
       
    </div>


</div>

