

.our-history {
    display: flex;
    margin-right: 10%;
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.dice-picture {
    margin-right: 10%; 
}

.text {
    flex-grow: 1; 
    font-size: 24px;
    padding: 2%;
    margin-right: 20%;
    color: #E8E8E8
}

.our-story-text{
    width: 100%;
    height: 100px;
    margin-top: 0.9%;
}

.our-story-text span{
    font-size: 72px;
    background-color: #CA1C65;
    margin-left: 10%;
    padding: 1%;
}

.text-bold{
    color: #CA1C65;
    font-size: 32px;
    font-weight: bold;
    margin-top: 5%;
}


